body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
  transition: background-color 0.5s ease;
}
/*-------HEADER---------*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
}
nav, .cajaReloj{
  width: 100%;
  display: flex;
  justify-content: right;
}
#relojDigital {
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px;
}
#botonCambiar {
  width: 14rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 8px 0;
  font-weight: 700;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 4rem;
  margin: 2.5rem 0;
}
/*--------HEADER--------*/
button,
input {
  margin-right: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
#mensajeOculto {
  display: none;
  color: green;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed green;
}

#mensajeInteraccionInput {
  margin-top: 10px;
  font-style: italic;
  color: #555;
  min-height: 1.2em;
}
#contenedorMensajeBoton p {
  margin-top: 10px;
  color: navy;
}
#mensajeModular {
  margin-top: 10px;
  color: purple;
  min-height: 1.2em;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
